<!-- FOOTER -->
<footer class="footer">
    <div class="wrapper">
        <div class="footer__inner">
            <div class="footer__top">
                <div class="footer__categories">
                    <ul class="footer__categories-list">
                        <li>
                            <a href="/">Сантехника</a>
                        </li>
                        <li>
                            <a href="/">Свет</a>
                        </li>
                        <li>
                            <a href="/">Лепнина</a>
                        </li>
                        <li>
                            <a href="/">Стройматериалы</a>
                        </li>
                    </ul>
                    <ul class="footer__categories-list">
                        <li>
                            <a href="/">Дома и бани</a>
                        </li>
                        <li>
                            <a href="/">Плитка, керамогранит и&nbsp;камень</a>
                        </li>
                        <li>
                            <a href="/">Двери</a>
                        </li>
                        <li>
                            <a href="/">Товары для дома</a>
                        </li>
                    </ul>
                    <ul class="footer__categories-list">
                        <li>
                            <a href="/">Отопление и&nbsp;водоснабжение</a>
                        </li>
                        <li>
                            <a href="/">Напольнае покрытия</a>
                        </li>
                        <li>
                            <a href="/">Краски</a>
                        </li>
                        <li>
                            <a href="/">Окна</a>
                        </li>
                    </ul>
                    <ul class="footer__categories-list">
                        <li>
                            <a href="/">Инструменты</a>
                        </li>
                        <li>
                            <a href="/">Мебель</a>
                        </li>
                        <li>
                            <a href="/">Обои и фрески</a>
                        </li>
                        <li>
                            <a href="/">Потолки</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__contacts">
                    <a href="/contacts.html" class="contact-info contact-info--location">
                        <div class="contact-info__icon">
                            <img src="/static/img/location-icon.svg" class="contact-info__icon-img" alt="Адрес">
                        </div>
                        <div class="contact-info__text">Москва, ст.м. Люблино,<br/> Тихорецкий б-р, стр. 2-а</div>
                    </a>
                    <a href="/contacts.html" class="contact-info contact-info--phone">
                        <div class="contact-info__icon">
                            <img src="/static/img/phone-icon.svg" class="contact-info__icon-img" alt="Телефон">
                        </div>
                        <div class="contact-info__text">Ежедневно с 9:00 до 20:00<br/> + 7 (495) 785-34-34</div>
                    </a>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer__bottom-left">
                    <a href="/" target="_blank" class="footer__studio-link">
                        <img src="/static/img/studio-logo.svg" class="footer__studio-link-img" alt="«Две буквы»" />Разработано<br/> в «Две буквы»
                    </a>
                    <div class="footer__social">
                        <div class="social-wrapper">
                            <a href="/" target="_blank" class="social-btn social-btn--fc"></a>
                            <a href="/" target="_blank" class="social-btn social-btn--yt"></a>
                            <a href="/" target="_blank" class="social-btn social-btn--in"></a>
                            <a href="/" target="_blank" class="social-btn social-btn--vk"></a>
                        </div>
                    </div>
                    <a href="/" target="_blank" class="footer__appstore">
                        <img src="/static/img/appstore.png" class="footer__appstore-img" alt="Скачать из Appstore">
                    </a>
                </div>
                <div class="footer__bottom-right">
                    <ul class="footer__nav">
                        <li><a href="/">ДИЗАЙНЕРАМ</a></li>
                        <li><a href="/">АРЕНДАТОРАМ</a></li>
                        <li><a href="/">ПАРТНЁРАМ</a></li>
                        <li><a href="/">ПЛАН ТЦ</a></li>
                        <li><a href="/">НА КАРТЕ</a></li>
                    </ul>
                    <div class="footer__rights">&copy;&nbsp;2005&ndash;2017, ТЦ&nbsp;&laquo;Люблинское поле&raquo;</div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER -->
