<div class="header-wrapper js-header-wrapper">
    <div class="js-header-space"></div>
    <!-- HEADER -->
    <header class="header js-header">
        <div class="wrapper">
            <div class="header__inner">
                <div class="header__left">
                    <div class="header__logo-wrapper">
                        <a href="/" class="header__logo">
                            <img class="header__logo-img" src="/static/img/logo.png" alt="Люблинское поле">
                        </a>
                    </div>
                    <div class="header__contacts">
                        <a href="/contacts.html" class="contact-info contact-info--location">
                            <div class="contact-info__icon">
                                <img src="/static/img/location-icon.svg" class="contact-info__icon-img" alt="Адрес">
                            </div>
                            <div class="contact-info__text">Москва, ст.м. Люблино,<br/> Тихорецкий б-р, стр. 2-а</div>
                        </a>
                        <a href="/contacts.html" class="contact-info contact-info--phone">
                            <div class="contact-info__icon">
                                <img src="/static/img/phone-icon.svg" class="contact-info__icon-img" alt="Телефон">
                            </div>
                            <div class="contact-info__text">Ежедневно с 9:00 до 20:00<br/> + 7 (495) 785-34-34</div>
                        </a>
                    </div>
                </div>
                <div class="header__right">
                    <div class="social-wrapper">
                        <a href="/" target="_blank" class="social-btn social-btn--fc"></a>
                        <a href="/" target="_blank" class="social-btn social-btn--yt"></a>
                        <a href="/" target="_blank" class="social-btn social-btn--in"></a>
                        <a href="/" target="_blank" class="social-btn social-btn--vk"></a>
                    </div>
                    <a href="/scheme.html" class="btn btn--blue">План тц</a>
                </div>
            </div>
        </div>
    </header>
    <!-- END HEADER -->

    <!-- NAVIGATION -->
    <nav class="nav js-nav">

        <div class="wrapper">
            <a href="/" class="header__logo header__logo-hide">
                <img class="header__logo-img" src="/static/img/logo.png" alt="Люблинское поле">
            </a>
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/about.html" class="nav__link nav__link--main">О ЦЕНТРЕ</a>
                </li>
                <li class="nav__item">
                    <a href="/brands.html" class="nav__link">БРЕНДЫ</a>
                </li>
                <li class="nav__item">
                    <a href="/stores.html" class="nav__link">МАГАЗИНЫ</a>
                </li>
                <li class="nav__item">
                    <a href="/services.html" class="nav__link">УСЛУГИ</a>
                </li>
                <li class="nav__item">
                    <a href="/advert.html" class="nav__link">АКЦИИ</a>
                </li>
                <li class="nav__item">
                    <a href="/products.html" class="nav__link">ТОВАР НЕДЕЛИ</a>
                </li>
                <li class="nav__item">
                    <a href="/advice.html" class="nav__link">СОВЕТЫ</a>
                </li>
                <li class="nav__item">
                    <a href="/interior.html" class="nav__link">ИНТЕРЬЕРЫ</a>
                </li>
                <li class="nav__item">
                    <a href="/contacts.html" class="nav__link">КОНТАКТЫ</a>
                </li>
            </ul>
            <div class="menu-btn js-menu-btn"></div>
        </div>
    </nav>
    <!-- END NAVIGATION -->
</div>
