<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport" />

    <!-- Styles -->
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/style.css?8">

    <!-- Scripts -->
    <script src="/js/vendor.js?7" defer></script>
    <script src="/js/main.js?8" defer></script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">

    <!-- Bar color -->
    <meta name="theme-color" content="#402d8d">
    <meta name="msapplication-navbutton-color" content="#402d8d">
    <meta name="apple-mobile-web-app-status-bar-style" content="#402d8d">

    <!-- Meta -->
    <title>Люблинское поле</title>
    <meta name="Description" content="">
</head>
