.advice-block {
    padding-bottom: 70px;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin-right: -20px;
    }

    &-link {
        text-align: right;
        font-size: 12px;
        font-weight: 500;
        margin-top: 20px;

        a {
            border-bottom: 1px solid hsla(0,0%,100%,0);
            transition: border 0.3s ease;

            &:hover {
                border-color: rgba(0,0,0,.4);
            }
        }
    }
}

.advice {
    position: relative;
    width: calc(25% - 20px);
    height: 330px;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
    will-change: box-shadow;
    text-align: center;
    margin-right: 20px;

    &:hover {
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);

        .advice__category {
            color: black;
        }
    }

    &__preview {
        position: relative;
        height: 200px;
        overflow: hidden;

        &-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        padding: 20px 20px 10px;
        box-sizing: border-box;
    }

    &__link {
        position: absolute;
        font-size: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__category {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.05em;
        color: #bdbdbd;
        text-transform: uppercase;
        margin-bottom: 10px;
        transition: color 0.3s ease;
    }

    &__title {
        max-width: 210px;
        max-height: 72px;
        overflow: hidden;
        margin: 0 auto;
        font-size: 16px;
        line-height: 24px;
    }
}
