.breadcrumb {
    &-wrapper {
        margin-bottom: 2px;
    }

    li {
        font-size: 12px;
        line-height: 16px;
        display: inline-block;
        margin-bottom: 5px;
        color: black;

        &:after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: 8px;
            width: 11px;
            margin: 0 10px 0 11px;
            background: svg-load('../static/img/bind-css/arrow-right.svg', fill=#7a7a7a);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        &:last-child:after {
            display: none;
        }
    }

    a {
        color: #7a7a7a;
    }
}

.title-wrapper {
    max-width: 880px;
}

.filters,
.subnav {
    margin-top: 20px;
}

.filter {
    position: relative;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    color: #7a7a7a;
    margin-right: 12px;
    margin-bottom: 20px;
    transition: color 0.3s ease;

    &:after {
        content: '';
        position: absolute;
        bottom: -9px;
        left: 0;
        height: 2px;
        width: 100%;
        min-width: 25px;
        background-color: black;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover:not(.filter-active) {
        cursor: pointer;
        color: black;
    }

    &-active {
        color: black;

        &:after {
            opacity: 1;
        }
    }
}

.subnav {
    li {
        position: relative;
        display: inline-block;
        font-size: 12px;
        font-weight: 500;
        color: black;
        margin-right: 12px;
        margin-bottom: 20px;

        &:after {
            content: '';
            position: absolute;
            bottom: -9px;
            left: 0;
            height: 2px;
            width: 100%;
            min-width: 25px;
            background-color: black;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        a {
            color: #7a7a7a;
            transition: color 0.3s ease;
        }

        &:hover {
            a {
                color: black;
            }
        }

        &.is-active {
            &:after {
                opacity: 1;
            }
        }
    }
}

.block-container {
    padding-bottom: 100px;

    &__top {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin-right: -20px;
    }

    .advice,
    .slide {
        margin-bottom: 20px;
    }

    .interior {
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 20px;
        }
    }

    &__bottom {
        margin-top: 30px;

        .btn {
            margin: 0 auto;
        }
    }
}

.article {
    padding-bottom: 70px;

    &__head {
        margin-bottom: 20px;

        &-info {
            max-width: 580px;
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
        }

        &-action {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            margin-top: 20px;
        }

        &-item {
            flex-shrink: 0;
        }

        &-item + &-item {
            margin-left: 20px;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__left {
        width: calc(100% - 600px);
        max-width: 560px;
        margin-right: 20px;

        .store-list {
            margin-top: 57px;
        }

        & + .article__full {}
    }

    &__right {
        width: 580px;
        margin-bottom: 30px;
    }

    &__full {
        width: 100%;
        margin-top: 70px;

        &-wrapper {
            max-width: 780px;
            margin: 0 auto;

            &--top-indent {
                margin-top: 76px;
            }
        }

        &--small-indent {
            margin-top: 40px;
        }
    }
}

.media-wrapper {
    max-width: 580px;
    margin: 0 auto;

    img {
        width: 100%;
    }

    &--big {
        max-width: 980px;
        margin: 55px auto 95px;
    }

    &--full {
        max-width: 100%;
        margin: 0 auto 50px;
    }

    &--top-indent {
        margin-top: 100px;
    }
}

.brands {
    padding-bottom: 100px;

    &__sort-wrapper {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;

        .btn {
            margin-bottom: 20px;
        }

        .btn + .btn {
            margin-left: 20px;
        }
    }

    &__ctg {
        &-wrapper {
            background-color: white;
            box-sizing: border-box;
            padding: 30px 40px 20px;
        }

        &-top {
            margin-bottom: 12px;
        }

        &-group {
            display: flex;
            flex-wrap: wrap;
        }

        &-item {
            font-size: 12px;
            font-weight: 500;
            color: #bdbdbd;
            transition: color 0.3s ease;
            margin-bottom: 10px;

            &:after {
                content: '/';
                display: inline-block;
                color: #eeeeee;
                margin: 0 4px;
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }

            &.is-active,
            &:hover {
                color: black;
            }

            &:hover:not(.is-active) {
                cursor: pointer;
            }
        }

        &-block {
            display: none;

            &.is-active {
                display: block;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 40px 60px 20px;
        min-height: 80px;
        background-color: white;
    }

    &__inner {
        position: relative;
        width: 100%;

        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }

    &__filter-value {
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        margin: 47px auto 45px;
    }
}

.brand {
    width: 25%;
    min-width: 200px;
    height: 38px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
    transition: color 0.3s ease;

    &:hover {
        color: lighten($blue, 5%);
    }
}

.brands-block {
    width: 100%;
}

.plyr--stopped {
    .plyr__controls {
        opacity: 0;
        visibility: hidden;
    }
}

.plyr__play-large {
    border: none;
    background-color: rgba(white, 0);
    outline: none;
    border: none;
    background-image: url('/static/img/bind-css/play.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;

    svg {
        display: none;
    }
}

.review-intro {
    max-width: 480px;
}

.tabs {
    margin-bottom: 90px;

    &__triggers {
        display: flex;
        align-items: baseline;
        margin-bottom: 40px;

        &--bottom {
            justify-content: flex-end;
            margin-bottom: 0;
            margin-top: 40px;

            .tabs__trigger {
                margin-bottom: 0;

                &.is-active {
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }

    &__trigger {
        position: relative;
        display: inline-block;
        font-size: 12px;
        font-weight: 500;
        color: #7a7a7a;
        margin-right: 12px;
        margin-bottom: 30px;
        transition: color 0.3s ease;

        &:after {
            content: "";
            position: absolute;
            bottom: -9px;
            left: 0;
            height: 2px;
            width: 100%;
            min-width: 25px;
            background-color: #000;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &.is-active {
            color: black;

            &:after {
                opacity: 1;
            }
        }

        &:hover:not(.is-active) {
            color: black;
            cursor: pointer;
        }
    }

    &__item {
        display: none;
    }
}
