.map {
    width: 100%;
    height: 700px;
}

.map-section {
    position: relative;
    margin-bottom: 32px;
    margin-top: 80px;
    background-color: white;

    &__wrapper {
        position: absolute;
        max-width: 1180px;
        width: calc(100% - 40px);
        height: 100%;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__contacts {
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__btns {
        position: absolute;
        display: flex;
        top: 0;
        right: 0;
        z-index: 1;
    }

    &__btn {
        display: block;
        height: 80px;
        width: 180px;
        background-color: #ffffff;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        letter-spacing: 0.05em;
        line-height: 80px;
        margin-left: 20px;
        cursor: pointer;
        transition: box-shadow 0.3s ease;

        &:hover {
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
        }
    }
}

.map-contacts {
    background-color: white;
    min-height: 600px;
    max-width: 480px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);

    &__inner {
        padding: 50px;
        box-sizing: border-box;
    }

    &__block {
        margin-bottom: 39px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        margin-bottom: 7px;
    }

    &__info {
        font-size: 12px;
        line-height: 24px;
    }
}

.contacts-img {
    margin-top: 8px;
    text-align: right;

    img {
        max-width: 380px;
        width: 100%;
    }
}

.schedule {
    &__section {
        display: flex;
        align-items: flex-end;
        margin-right: -33px;
    }

    &__item {
        box-sizing: border-box;
        height: 40px;
        width: 60px;
        margin-right: 33px;
        margin-bottom: 20px;
        background-color: white;
        border: 2px solid white;
        text-align: center;
        line-height: 38px;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.05em;

        &.is-active {
            border: 2px solid #000000;
        }
    }

    &__col-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }
}

.contacts-add {
    display: flex;
    justify-content: space-between;
    width: 460px;

    &__title {
        font-size: 12px;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 5px;
    }

    &__descr {
        font-size: 12px;
        line-height: 24px;
    }
}

.full-map {
    width: 100%;
    height: 100vh;

    &-container {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        background-color: white;
        opacity: 0;
        visibility: hidden;
        transform: translate(0, 100vh);
        transition-property: opacity, visibility, transform;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        z-index: 100;

        &.is-opened {
            opacity: 1;
            visibility: visible;
            transform: translate(0, 0);
        }
    }

    &-close {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 10px;
        right: 10px;
        cursor: pointer;
        z-index: 1;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
        background: white url("/static/img/bind-css/close.svg") no-repeat center/ 20px 20px;
    }
}
