.form-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;

    &--subscribe {
        .input-wrapper {
            margin-bottom: 0;
        }

        .form-message {
            background-color: #e8e8e8;
            padding: 0;
            width: calc(100% - 20px);
        }
    }
}

.form-message {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
    background-color: white;
    text-align: center;
    z-index: 2;

    &:before {
        content: '';
        height: 100%;
        width: 0;
        display: inline-block;
        vertical-align: middle;
    }

    &__text {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        font-weight: 500;
    }
}

.input-wrapper {
    position: relative;
    width: calc(100% / 3 - 20px);
    min-width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;

    &--small {
        width: calc(25% - 20px);
    }

    &--big {
        width: 100%;
        max-width: 360px;
    }

    &--full {
        width: 100%;
    }

    &--top-indent {
        margin-top: 50px;
    }
}

.droplist {
    position: relative;
    width: 100%;

    &__head {
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        padding: 0 55px 0 20px;
        line-height: 52px;
        background-color: white;
        font-size: 12px;
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
        transition: box-shadow 0.3s ease;

        &:hover {
            box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
        }

        &:after {
            content: '';
            position: absolute;
            width: 6px;
            height: 9px;
            right: 35px;
            top: 20px;
            background: url('/static/img/bind-css/slider-arrow-black.png') center no-repeat;
            background-size: contain;
            transform: rotate(90deg);
            z-index: 1;
            transition: transform 0.3s ease;
        }
    }

    &__body {
        position: absolute;
        width: 100%;
        left: 0;
        top: calc(100% + 10px);
        font-size: 0;
        background-color: white;
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
        visibility: hidden;
        opacity: 0;
        z-index: 2;

        &-wrapper {
            box-sizing: border-box;
            padding: 30px 30px 10px;
            max-height: 200px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 5px;
                background-color: white;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 3px;
                background-color: #efefef;
            }
        }

        &-arrow {
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-color: white;
            margin: 10px;
            border-width: 0 10px 10px 10px;
            border-left-color: transparent;
            border-right-color: transparent;
            border-top-color: transparent;
            margin-top: 0;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
        }

        &-close {
            position: absolute;
            top: 15px;
            right: 20px;
            height: 14px;
            width: 14px;
            background: url('/static/img/bind-css/close.svg') no-repeat center/contain;
            cursor: pointer;
        }
    }

    &__item {
        font-size: 12px;
        font-weight: 500;
        color: #bdbdbd;
        transition: color 0.3s ease;
        margin-bottom: 15px;

        &.is-selected {
            color: black;
        }

        &:after {
            content: '/';
            display: none;
            color: #eeeeee;
            margin: 0 4px;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }

        &:hover:not(.is-selected) {
            color: black;
            cursor: pointer;
        }
    }

    &.is-disabled {
        .droplist__head {
            color: #bdbdbd;

            &:after {
                opacity: 0.3;
            }

            &:hover {
                cursor: default;
                box-shadow: none;
            }
        }
    }

    &.is-opened {
        .droplist__head {
            box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);

            &:after {
                transform: rotate(270deg);
            }
        }

        .droplist__body {
            top: calc(100% + 20px);
            visibility: visible;
            opacity: 1;
            transition: all 0.3s ease;
        }
    }

    &--full {
        .droplist__body-wrapper {
            padding: 30px 145px 20px 40px;
        }

        .droplist__item {
            display: inline-block;
            margin-bottom: 10px;

            &:after {
                display: inline-block;
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }

        .droplist__body-wrapper {
            max-height: 100%;
        }

        .droplist__body {
            width: 1180px;

            &-arrow {
                left: 0;
                transform: none;
            }
        }

        &.is-opened {
            .droplist__body {
                top: calc(100% + 30px);
            }
        }
    }

    &--checkbox {
        .droplist__item {
            cursor: pointer;
        }
    }
}

.submit-btn {
    height: 50px;
    line-height: 52px;
    background-color: white;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    background-color: $blue;
    color: white;
}

.text-field {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 500;
    color: #000000;
    text-align: left;
    line-height: 50px;
    padding: 0 20px;
    transition: box-shadow 0.3s ease;
    will-change: box-shadow;

    &--area {
        font-family: 'GothamPro', sans-serif;
        padding: 20px;
        color: #000000;
        height: 150px;
        resize: none;
        line-height: 20px;
    }

    &:hover {
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:focus {
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    }
}

label.error {
    display: block;
    margin-top: 7px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #de0a0a;
}

.review-form-wrapper {
    padding-bottom: 100px;
}

input[type="submit"] {
    outline: none;
}

.subscribe {
    display: flex;
    justify-content: flex-end;

    &-form-wrapper {
        display: none;
        flex-shrink: 0;
        width: 100%;
    }

    &-btn {
        flex-shrink: 0;
    }
}
