.gallery {
    opacity: 0;
    transition: opacity 0.3s ease;
    &.is-visible {
        opacity: 1;
    }
    &-img-wrapper {
        max-height: 600px;
        img {
            display: block;
            width: 100%;
        }
    }
    &--hide-btn {
        .lSPrev, .lSNext {
            display: none;
        }
    }
}
.lSSlideOuter {
    margin: 0 -10px 0 !important;
    padding: 0 10px 0;
}
.lSSlideOuter .lSPager.lSGallery {
    margin: 20px -10px 0 !important;
    padding: 0 10px 20px;

    li {
        max-width: 80px!important;
        opacity: 0.7;
        transition-property: opacity, box-shadow;
        transition-duration: 0.3s;
        transition-timing-function: ease;

        &:last-child {
            margin-right: 0 !important;
        }

        &.active,
        &:hover {
            border-radius: 0!important;
            box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2)!important;
        }

        &.active {
            opacity: 1;
        }

        &:hover:not(.active) {
            opacity: 0.85;
        }
    }
}

.lSAction {
    & > a {
        width: 80px;
       height: 80px;
       background-color: #f5f5f5;
       background:  #f5f5f5 url('/static/img/bind-css/slider-arrow-black.png') no-repeat center;
       opacity: 1;
    }
    & > .lSPrev {
        background-position: center;
          transform: rotate(180deg);
    }
    & > .lSNext {
        background-position: center;
    }

}
