.content {
    h1 {
        font-size: 36px;
        font-weight: 700;
        line-height: 42px;
        color: $blue;
        letter-spacing: 0.08em;
        text-transform: uppercase;
    }

    h2 {
        font-size: 30px;
        font-weight: 500;
        line-height: 36px;
        margin-bottom: 40px;
    }

    ol {
        list-style-type: decimal;
        list-style-position: inside;
        margin-bottom: 30px;

        li {
            font-size: 16px;
            color: #010101;
            text-align: left;
            line-height: 24px;
        }
    }
}
.article__full-wrapper, .article__left {
    ul {
        margin-bottom: 25px;

        li {
            position: relative;
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 8px;
            padding-left: 15px;

            &:last-child {
                margin-bottom: 0;
            }

            &:before {
                content: "\2022";
                position: absolute;
                left: 0;
                top: 1px;
                display: block;
            }
        }
    }

    a {
        border-bottom: 1px solid #c1c1c1;
        transition: border-color 0.3s ease;
        &:hover {
            border-bottom-color: #010101;
        }
    }

    h3 {
        font-size: 18px;
        font-weight: 500;
        color: #000000;
        text-align: left;
        line-height: 18px;
        margin-bottom: 40px;
    }
}
p {
    font-size: 16px;
    color: #010101;
    line-height: 24px;
    margin-bottom: 23px;
}

strong {
    font-weight: 500;
}
i {
    font-style: italic;
}

.btn {
    display: block;
    box-sizing: border-box;
    height: 50px;
    width: 180px;
    font-size: 12px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    background-position: center;

    &--blue {
        background-color: $blue;
        color: white;
        font-weight: 700;
        letter-spacing: 0.6px;
        line-height: 50px;
        border: none!important;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: lighten($blue, 10%);

        }
    }

    &--white {
        border: 2px solid white;
        background-color: transparent;
        color: white;
        font-weight: 500;
        transition: color 0.3s ease, background-color 0.3s ease;

        &:hover, &.is-active {
            color: $blue;
            background-color: white;
        }

        &.is-active {
            cursor: default;
        }
    }

    &--black {
        border: 2px solid black;
        background-color: transparent;
        color: black;
        font-weight: 500;
        transition: border-color 0.3s ease, color 0.3s ease, background-color 0.3s ease;

        &:hover, &.is-active {
            border-color: $blue;
            color: white;
            background-color: $blue;
        }
        &.is-active {
            cursor: default;
        }
    }

    &--loaded {
        background-image: url('/static/img/bind-css/preloader.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(white, 0);
        border-color: rgba(white, 0);
        color: rgba(white, 0);
        transition: all 0.3s ease;
        pointer-events: none;

        &:hover {
            background-color: rgba(white, 0);
            border-color: rgba(white, 0);
            color: rgba(white, 0);
            cursor: default;
        }
    }

    &--full {
        width: 100%;
    }

    &:active:not(.is-active) {
        opacity: 0.9;
    }

    &.is-disable {
        opacity: 0.5;
        pointer-events: none;
    }
}

.big-btn {
    display: block;
    background-color: $yellow;
    color: #fefefe;
    height: 80px;
    padding: 0 40px;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.05em;
    cursor: pointer;
    border: none!important;
    transition: background-color 0.3s ease;

    span {
        display: inline-block;
        vertical-align: middle;
        margin-top: 2px;
    }

    &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
    }

    &:hover {
        background-color: lighten($yellow, 10%);
    }

    &--blue {
        background-color: $blue;
        &:hover {
            background-color: lighten($blue, 10%);
        }
    }
    &--section {
        box-sizing: border-box;
        max-width: 180px;
    }
}
.important-text {
    font-size: 36px;
    color: #010101;
    line-height: 43px;
    max-width: 680px;
    margin: 50px 100px 100px;
}
