.interior-block {
    padding-bottom: 50px;
}

.interior {
    width: 100%;
    display: flex;
    height: 400px;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);

    &__preview {
        width: calc(100% - 380px);
        position: relative;
        overflow: hidden;

        &-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 380px;
        height: 100%;
        box-sizing: border-box;
        padding: 46px 40px 40px 50px;
    }

    &__text {
        font-size: 48px;
        font-weight: 900;
        margin-bottom: 30px;
    }

    &__title {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 33px;
    }

    &__descr {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
    }

    &__icon {
        position: absolute;
        top: 40px;
        right: 40px;
        width: 40px;
        height: 40px;

        &-img {
            width: 100%;
        }
    }

    &--special {
        .interior {
            &__preview {
                width: calc(100% - 280px);
            }

            &__info {
                width: 280px;
            }

            &__info {
                padding: 100px 50px 40px;
            }
        }
    }
}

.intr-scheme {
    position: relative;
    padding-top: 30px;

    &__preview {
        position: relative;
        overflow: hidden;

        &:after {
            content: '';
            float: left;
            padding-top: 50.8%;
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 0;
    }

    &__point {
        position: absolute;
        z-index: 1;
        height: 30px;
        width: 30px;
        background-color: #ffffff;
        border-radius: 50%;
        font-size: 12px;
        font-weight: 700;
        line-height: 31px;
        color: #000000;
        text-align: center;
        transition-property: background-color, visibility, opacity;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        visibility: hidden;
        opacity: 0;
        cursor: pointer;

        &.is-active {
            background-color: $yellow;
        }

        &:hover:not(.is-active) {
            background-color: lighten($yellow, 30%);
        }
    }

    &__popup {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        z-index: 2;
        transition: all 0.3s ease;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

        .store {
            margin: 0;
        }

        &.is-show {
            opacity: 1;
            visibility: visible;
        }

        &[x-placement^="left"] {
            margin-right: 20px;

            .intr-scheme__arrow {
                border-width: 10px 0 10px 10px;
                border-top-color: transparent;
                border-right-color: transparent;
                border-bottom-color: transparent;
                right: -10px;
                top: calc(50% - 20px);
                margin-left: 0;
                margin-right: 0;
            }

            .store {
                &__inner {
                    flex-direction: row-reverse;
                }

                &__left {
                    margin: 0 0 0 20px;
                }

                &__right {
                    text-align: right;
                }
            }
        }

        &[x-placement^="right"] {
            margin-left: 20px;

            .intr-scheme__arrow {
                border-width: 10px 10px 10px 0;
                border-left-color: transparent;
                border-top-color: transparent;
                border-bottom-color: transparent;
                left: -10px;
                top: calc(50% - 20px);
                margin-left: 0;
                margin-right: 0;
            }
        }

        &[x-placement^="bottom"] {
            margin-top: 20px;

            .intr-scheme__arrow {
                border-width: 0 10px 10px 10px;
                border-left-color: transparent;
                border-right-color: transparent;
                border-top-color: transparent;
                top: -10px;
                left: calc(50% - 20px);
                margin-top: 0;
            }
        }

        &[x-placement^="top"] {
            margin-bottom: 20px;

            .intr-scheme__arrow {
                border-width: 10px 10px 0 10px;
                border-left-color: transparent;
                border-right-color: transparent;
                border-bottom-color: transparent;
                bottom: -10px;
                left: calc(50% - 20px);
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }

    &__arrow {
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        margin: 10px;
        border-color: white;
    }

    &__clear-popup {
        position: absolute;
        text-align: left;
        display: inline-block;
        top: 0;
        right: 0;
        font-size: 12px;
        font-weight: 500;
        color: #7a7a7a;
        cursor: pointer;
    }

    &.show-points {
        .intr-scheme__point {
            opacity: 1;
            visibility: visible;
        }
    }
}
