.content {
    position: relative;
    overflow: hidden;
}

.container {
    width: 100%;

    &--grey {
        background-color: $bgGray;
    }

    &-title {
        max-width: 580px;
        padding: 43px 0 40px;
        font-size: 30px;
        font-weight: 500;
        color: #010101;
        line-height: 36px;

        h1,
        h2,
        h3 {
            margin-bottom: 0;
        }

        &--center {
            text-align: center;
            margin: 0 auto;
            padding-top: 93px;
        }
    }

    &-top {
        margin-bottom: 45px;
        padding: 48px 0 0;

        &--small-indent {
            margin-bottom: 25px;
        }
    }
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1220px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #e8e8e8;
    padding: 15px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 58.3%;
    }

    &__right {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }

    &__logo {
        display: block;
        height: 38px;
        width: 130px;
        margin-right: 11.3%;

        &-img {
            width: 100%;
        }

        &-hide {
            position: absolute;
            height: 33px;
            width: 110px;
            left: 20px;
            top: -12px;
            visibility: hidden;
            margin-right: 0;
            opacity: 0;
        }
    }

    &__contacts {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 490px;
        margin-left: 25px;
    }

    &--fixed {
        .nav {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            background-color: white;
            z-index: 100;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
        }

        .header {
            position: fixed;
            width: 100%;
            top: 70px;
            left: 0;
            visibility: hidden;
            opacity: 0;
            background-color: white;
            z-index: 2;
        }

        .header__logo {
            visibility: hidden;
            opacity: 0;

            &.header__logo-hide {
                visibility: visible;
                opacity: 1;
                transition: visibility 0.3s ease, opacity 0.3s ease;
            }
        }

        .menu-btn {
            opacity: 1;
            visibility: visible;
            transition: visibility 0.3s ease, opacity 0.3s ease;
        }

        &.is-opened {
            .nav {
                box-shadow: none;
            }

            .header {
                opacity: 1;
                visibility: visible;
                transition: visibility 0.3s ease, opacity 0.3s ease;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
            }
        }
    }
}

.menu-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 18px;
    top: -10px;
    background: url('/static/img/bind-css/burger.svg') no-repeat center/35px 33px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: white url('/static/img/bind-css/close.svg') no-repeat center/20px 20px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &.is-opened {
        &:after {
            opacity: 1;
        }
    }
}

.contact-info {
    display: block;
    font-size: 0;

    &__icon {
        display: inline-block;
        vertical-align: middle;
        height: 30px;
        width: 30px;
        margin-right: 10px;

        &-img {
            width: 100%;
        }
    }

    &__text {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        line-height: 1.5;
    }
}

.social-wrapper {
    font-size: 0;
}

.social-btn {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    margin-right: 20px;
    transition: background 0.3s ease;

    &--fc {
        background: svg-load('../static/img/bind-css/social/facebook.svg');

        &:hover {
            background: svg-load('../static/img/bind-css/social/facebook.svg', fill=$blue);
            background-size: contain;
        }
    }

    &--yt {
        background: svg-load('../static/img/bind-css/social/youtube.svg');

        &:hover {
            background: svg-load('../static/img/bind-css/social/youtube.svg', fill=$blue);
            background-size: contain;
        }
    }

    &--in {
        background: svg-load('../static/img/bind-css/social/instagram.svg');

        &:hover {
            background: svg-load('../static/img/bind-css/social/instagram.svg', fill=$blue);
            background-size: contain;
        }
    }

    &--vk {
        background: svg-load('../static/img/bind-css/social/vk.svg');

        &:hover {
            background: svg-load('../static/img/bind-css/social/vk.svg', fill=$blue);
            background-size: contain;
        }
    }
}

.nav {
    padding: 29px 0 14px;

    &__list {
        font-size: 0;
        text-align: center;
    }

    &__item {
        display: inline-block;
        margin-right: 30px;
        margin-bottom: 15px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        font-size: 12px;
        color: black;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.05em;
        transition: color 0.3s ease;

        &:hover {
            color: $blue;
        }

        &--main {
            color: $blue;

            &:hover {
                color: rgba($blue, 0.8);
            }
        }
    }
}

.hero {
    position: relative;
    width: 100%;
    max-height: 650px;
    min-height: 360px;
    overflow: hidden;

    &:after {
        content: '';
        padding-top: 40.2%;
        float: left;
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__info {
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 620px;
        color: white;
        z-index: 1;
        text-align: center;
    }

    &__title {
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 2.88px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__descr {
        margin-bottom: 59px;
        font-size: 14px;
        letter-spacing: 0.05em;
        line-height: 1.28;
        font-weight: 400;
    }

    &__link {
        .btn {
            margin: 0 auto;
        }
    }
}

.footer {
    &__inner {
        padding: 50px 0 20px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__categories {
        display: flex;
        justify-content: space-between;
        width: 74.5%;

        &-list {
            max-width: 140px;
        }

        li {
            margin-bottom: 13px;
        }

        a {
            font-size: 12px;
            line-height: 18px;
            border-bottom: 1px solid rgba(white, 0);
            transition: border 0.3s ease;

            &:hover {
                border-color: rgba(black, 0.4);
            }
        }
    }

    &__contacts {
        .contact-info--location {
            margin-bottom: 25px;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;

        &-left {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 49.1%;
        }
    }

    &__studio-link {
        position: relative;
        display: block;
        padding-left: 40px;
        font-size: 10px;
        line-height: 12px;
        transition: opacity 0.3s ease;

        &-img {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 30px;
            width: 30px;
        }

        &:hover {
            opacity: 0.9;
        }
    }

    &__appstore {
        display: block;
        height: 40px;
        width: 135px;
        transition: opacity 0.3s ease;

        &-img {
            width: 100%;
        }

        &:hover {
            opacity: 0.9;
        }
    }

    &__nav {
        margin-bottom: 15px;

        li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }
        }

        a {
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: black;
            transition: color 0.3s ease;

            &:hover {
                color: $blue;
            }
        }
    }

    &__rights {
        font-size: 12px;
        text-align: right;
    }
}

.square-link {
    display: block;
    height: 80px;
    width: 80px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    color: #fefefe;
    text-align: center;
    letter-spacing: 0.05em;
    margin-right: 20px;
    transition: background-color 0.3s ease;

    span {
        display: inline-block;
        vertical-align: middle;
    }

    &:before {
        content: '';
        width: 0;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    &--yellow {
        background-color: $yellow;

        &:hover {
            background-color: lighten($yellow, 10%);
        }
    }

    &--blue {
        background-color: $blue;

        &:hover {
            background-color: lighten($blue, 10%);
        }
    }
}

.pluses {
    padding-bottom: 50px;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        max-width: 980px;
        margin: 0 auto;
    }
}

.plus {
    width: 220px;
    text-align: center;
    margin-bottom: 44px;

    &__icon {
        position: relative;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background-color: $blue;
        margin: 0 auto 14px;

        &-img {
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__title {
        font-size: 16px;
        line-height: 24px;
    }
}
