.mall {
    padding: 50px 0 90px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        width: 100%;
        max-width: 480px;
        margin-right: 30px;
    }
    &__right {
        width: 580px;
    }
    &__title {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 44px;
        &-small {
            display: block;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 0.05em;
            margin-bottom: 5px;
            text-transform: uppercase;
        }
    }
    &__contacts {
        display: flex;
        align-items: center;
        margin-bottom: 45px;
        &-info {
            font-size: 12px;
            font-weight: 500;
            &:first-child {
                margin-bottom: 13px;
            }
        }
    }
}
