.sector_name {
    color: #FFFFFF;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    position: absolute;
    display: none;
}

.scheme {
    position: relative;
    margin-bottom: 95px;
    transition: opacity 0.3s ease;

    img {
        max-width: 100%;
        width: 100%;
    }

    &-container {
        background: #cccccc;
    }

    &.is-loading {
        opacity: 0.4;
        pointer-events: none;
    }
}

.scheme-filters {
    margin-bottom: 70px;

    &__corp {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    &__categories {
        background: white;
        padding: 30px 40px;
        box-sizing: border-box;
    }

    .category-list {
        margin: 0;
    }
}

.corp-btn {
    position: relative;
    width: 80px;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    line-height: 48px;
    color: black;
    border: 2px solid black;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease;

    &:last-child {
        margin-right: 0;
    }

    &--big {
        width: 180px;
    }

    &.is-active,
    &:hover {
        border: 2px solid $blue;
        background-color: $blue;
        color: white;
    }

    &:hover:not(.is-active) {
        cursor: pointer;
    }

    &__count {
        position: absolute;
        top: -15px;
        right: -15px;
        height: 30px;
        width: 30px;
        background-color: $yellow;
        border-radius: 50%;
        font-size: 12px;
        font-weight: 700;
        color: #000000;
        text-align: center;
        letter-spacing: 0.05em;
        line-height: 31px;
        padding: 1px 0 0 1px;
        box-sizing: border-box;
    }
}

.scheme-group {
    position: relative;

    &__head {
        position: absolute;
        display: flex;
        left: 0;
        top: 30px;
        width: 100%;
        z-index: 1;
    }

    &__item {
        position: relative;
        display: none;

        &.is-active {
            display: block;
        }
    }
}

.scheme-group-btn {
    height: 80px;
    width: 80px;
    margin-right: 20px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    background-color: white;
    text-align: center;
    line-height: 82px;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    transition: box-shadow 0.3s ease;

    &__letter {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        margin-top: 2px;
        font-size: 60px;
        font-weight: 900;
        color: $blue;
        transition: color 0.3s ease;
    }

    &__text {
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        font-weight: 700;
        color: #000000;
        letter-spacing: 0.05em;
        transition: color 0.3s ease;
    }

    &--big {
        width: 180px;
    }

    &:hover:not(.is-active) {
        cursor: pointer;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    }

    &.is-active {
        background-color: $blue;
        color: white;

        .scheme-group-btn__letter,
        .scheme-group-btn__text {
            color: white;
        }
    }
}

.scheme-popup {
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
    z-index: 1;

    &[x-placement^="left"] {
        margin-right: 20px;

        .intr-scheme__arrow {
            border-width: 10px 0 10px 10px;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            right: -10px;
            top: calc(50% - 20px);
            margin-left: 0;
            margin-right: 0;
        }

        .store {
            &__inner {
                flex-direction: row-reverse;
            }

            &__left {
                margin: 0 0 0 20px;
            }

            &__right {
                text-align: right;
            }
        }
    }

    &[x-placement^="right"] {
        margin-left: 20px;

        .intr-scheme__arrow {
            border-width: 10px 10px 10px 0;
            border-left-color: transparent;
            border-top-color: transparent;
            border-bottom-color: transparent;
            left: -10px;
            top: calc(50% - 20px);
            margin-left: 0;
            margin-right: 0;
        }
    }

    &[x-placement^="bottom"] {
        margin-top: 20px;

        .intr-scheme__arrow {
            border-width: 0 10px 10px 10px;
            border-left-color: transparent;
            border-right-color: transparent;
            border-top-color: transparent;
            top: -10px;
            left: calc(50% - 20px);
            margin-top: 0;
        }
    }

    &[x-placement^="top"] {
        margin-bottom: 20px;

        .intr-scheme__arrow {
            border-width: 10px 10px 0 10px;
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            bottom: -10px;
            left: calc(50% - 20px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .store {
        width: 380px;
        margin-bottom: 0;
    }
}

.shop-info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.pse-element {
    position: absolute;
    width: 0;
    height: 0;
}

.count-store-block {
    display: none;
}

.count-store {
    position: absolute;
    width: 100px;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    background-color: white;
    z-index: 1;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);

    &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        margin: 0 10px;
        border-color: white;
        position: absolute;
        border-width: 10px 10px 0 10px;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        bottom: -10px;
        left: calc(50% - 20px);
    }
}

.category-group {
    padding-bottom: 80px;

    &__title {
        h2 {
            margin-bottom: 25px;
        }
    }
}
