.services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
    margin-right: -20px;
}

.service {
    width: calc(25% - 20px);
    height: 330px;
    margin-right: 20px;
    text-align: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 20px 30px 35px;
    }

    &__icon {
        width: 40px;
        height: 40px;
        margin: 0 auto 30px;

        &-img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.05em;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__descr {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
    }

    &__bottom {
        .btn {
            margin: 0 auto;
        }
    }
}

.full-service {
    width: calc(50% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    height: 400px;

    &__inner {
        display: flex;
        height: 100%;
    }

    &__preview {
        position: relative;
        width: calc(100% - 280px);
        overflow: hidden;

        &-img {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-shrink: 0;
        width: 280px;
        box-sizing: border-box;
        padding: 74px 50px 35px 20px;
        background-color: $yellow;
        text-align: right;
        color: white;

        &-bottom {
            .btn {
                margin-left: 30px;
            }
        }
    }

    &__title {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.05em;
        line-height: 24px;
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    &__descr {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
    }

    &__sep {
        margin-bottom: 35px;
    }

    &__intro {
        font-size: 16px;
        color: #010101;
        line-height: 24px;

        .full-service__sep {
            margin-bottom: 25px;
        }
    }

    &--white {
        .full-service__info {
            background-color: white;
            color: black;
        }
    }

    &--right {
        .full-service__info {
            padding: 74px 20px 35px 50px;
            text-align: left;
        }

        .full-service__info-bottom .btn {
            margin-left: 0;
        }
    }

    &--special {
        height: auto;
        min-height: 400px;

        .full-service__info {
            display: block;
            width: 100%;
            padding: 50px 50px 30px;
            text-align: left;
            background-color: white;
            color: #010101;
        }

        .full-service__title {
            color: black;
            margin-bottom: 34px;
        }

        .full-service__intro {
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            margin-bottom: 26px;
        }

        .full-service__bottom {
            font-size: 12px;
            line-height: 18px;
        }
    }

}
.full-service--special,
.sl-advert-full {
    ul {
        margin-bottom: 25px;

        li {
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            &:before {
                content: "\2022";
                display: inline-block;
                margin-right: 14px;
            }
        }
    }    
}
