.slider {
    margin-right: -15px;
    margin-left: -15px;
    padding: 0 15px 70px;

    &--indent {
        padding-top: 38px;
    }

    .slide {
        &:last-child {
            margin-right: 0;
        }
    }
}

.swiper-wrapper {
    width: calc(100% + 20px);
}

.slide {
    position: relative;
    flex-shrink: 0;
    height: 400px;
    box-sizing: border-box;
    margin-right: 20px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    will-change: box-shadow;

    &:hover {
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    }

    &-status {
        font-size: 12px;
        font-weight: 500;
        padding: 19px 0;
    }
}

.sl-event {
    width: calc(50% - 20px);

    &__preview {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__inner {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 40px 50px 35px;
    }

    &__info {
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__date {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 23px;
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.9px;
        line-height: 1.33;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    &__descr {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
    }
}

.sl-news {
    width: calc(50% - 20px);

    &__inner {
        display: flex;
        height: 100%;
    }

    &__preview {
        position: relative;
        width: calc(100% - 280px);
        overflow: hidden;

        &-img {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-shrink: 0;
        width: 280px;
        box-sizing: border-box;
        padding: 40px 50px 35px 20px;
        background-color: $yellow;
        text-align: right;
        color: white;

        &-bottom {
            .btn {
                margin-left: 30px;
            }
        }
    }

    &__date {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 23px;
    }

    &__title {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.05em;
        line-height: 24px;
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    &__descr {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
    }
}

.sl-advert {
    width: calc(50% - 20px);

    &__inner {
        display: flex;
        height: 100%;
    }

    &__preview {
        position: relative;
        width: calc(100% - 280px);
        overflow: hidden;

        &-img {
            position: absolute;
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-shrink: 0;
        width: 280px;
        box-sizing: border-box;
        padding: 40px 20px 35px 50px;
        background-color: $blue;
        text-align: left;
        color: white;
    }

    &__icon {
        float: right;
        width: 40px;
        height: 40px;
        margin-right: 30px;
        margin-bottom: 23px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        text-align: right;

        &-img {
            max-width: 100%;
        }
    }

    &__descr {
        font-size: 16px;
        line-height: 24px;

        &:before {
            content: "";
            display: block;
            clear: both;
        }
    }
}

.sl-advert-full {
    width: calc(50% - 20px);

    &__inner {
        display: flex;
        height: 100%;
        box-sizing: border-box;
        padding: 83px 40px 35px 50px;
    }

    &__preview {
        position: relative;
        width: calc(100% - 280px);
        overflow: hidden;

        &-img {
            position: absolute;
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-shrink: 0;
        width: 100%;
        max-width: 420px;
        text-align: left;
        color: white;

        p {
            margin-bottom: 0;
        }

        &-top {
            max-height: 220px;
            overflow: hidden;
        }
    }

    &__title {
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 26px;

        &-big {
            display: block;
            margin-top: 5px;
            font-size: 48px;
            font-weight: 900;
            text-transform: uppercase;
        }
    }

    &__logo {
        position: absolute;
        width: 150px;
        height: 75px;
        top: 40px;
        right: 40px;
        text-align: right;

        img {
            width: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__descr {
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
    }

    &--yellow {
        background-color: $yellow;
    }

    &--blue {
        background-color: $blue;
    }

    &--white {
        background-color: white;

        .sl-advert-full__info {
            color: black;
        }
    }

    &--bf {
        .sl-advert-full__title {
            margin-bottom: 7px;
        }

        .sl-advert-full__info {
            max-width: 100%;
        }

        .sl-advert-full__descr {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;

            ul li {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 0;
            }
        }
    }
}

.sl-advert-small {
    width: calc(25% - 20px);
    min-width: 260px;

    &__inner {
        display: flex;
        height: 100%;
        box-sizing: border-box;
        padding: 110px 40px 40px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-shrink: 0;
        width: 100%;
        max-width: 420px;
        text-align: left;
        color: white;

        p {
            margin-bottom: 0;
        }

        &-top {
            max-height: 220px;
            overflow: hidden;
            flex: 1 0 auto;
            display: flex;
        }

        &-bottom {
            .btn {
                margin: 0 auto;
            }
        }
    }

    &__title {
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 26px;

        &-big {
            display: block;
            margin-top: 5px;
            font-size: 48px;
            font-weight: 900;
            text-transform: uppercase;
        }
    }

    &__logo {
        position: absolute;
        width: 80px;
        height: 40px;
        top: 40px;
        right: 40px;
        text-align: right;

        img {
            width: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__scheme {
        position: absolute;
        top: 50px;
        left: 40px;
        width: 65px;
        font-size: 24px;
        font-weight: 900;
        color: white;

        a {
            color: white;
            transition: opacity 0.3s ease;

            &:hover {
                opacity: 0.9;
            }
        }
    }

    &__descr {
        font-size: 16px;
        line-height: 24px;

        &-big {
            align-self: center;
            font-size: 24px;
            font-weight: 900;
            line-height: 36px;
            text-transform: uppercase;
        }
    }

    &--yellow {
        background-color: $yellow;
    }

    &--blue {
        background-color: $blue;
    }

    &--white {
        background-color: white;

        .sl-advert-small__info,
        .sl-advert-small__scheme,
        .sl-advert-small__scheme a {
            color: black;
        }
    }
}

.sl-product {
    width: calc(25% - 20px);
    min-width: 260px;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);

    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__preview {
        position: relative;
        width: 100%;
        height: 200px;

        &-img {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__bage {
        position: absolute;
        bottom: 20px;
        right: 20px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: $blue;
        text-transform: uppercase;
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        color: white;
        line-height: 50px;
    }

    &__info {
        box-sizing: border-box;
        padding: 13px 35px 30px;
        text-align: center;
    }

    &__category {
        font-size: 12px;
        font-weight: bold;
        color: #bdbdbd;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        line-height: 24px;
        margin-bottom: 5px;
    }

    &__title {
        max-height: 72px;
        overflow: hidden;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    &__price-new {
        position: relative;
        display: inline-block;
        font-size: 30px;
        font-weight: 900;
        color: $blue;

        &:before {
            content: '00';
            position: absolute;
            top: 2px;
            left: 110%;
            font-size: 14px;
            letter-spacing: 0.05em;
        }
    }

    &__price-old {
        position: relative;
        display: inline-block;
        margin-top: 12px;
        font-size: 18px;
        font-weight: 900;

        &:before {
            content: '00';
            position: absolute;
            top: 2px;
            left: 110%;
            font-size: 8px;
            letter-spacing: 0.05em;
        }

        &:after {
            content: '';
            position: absolute;
            width: 170%;
            height: 2px;
            background-color: #E11D2A;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(10deg);
        }
    }
}

.slider-pagination-container {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 30px;
    font-size: 0;
}

.slider-btn {
    height: 10px;
    width: 6px;
    padding: 0 2px;
    background: url('/static/img/bind-css/slider-arrow.svg') no-repeat center;
    cursor: pointer;

    &-next {
        transform: rotate(180deg);
    }
}

.slider-link {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    font-weight: 500;

    a {
        color: black;
        line-height: 14px;
        border-bottom: 1px solid rgba(white, 0);
        transition: border 0.3s ease;

        &:hover {
            border-color: rgba(black, 0.4);
        }
    }
}

.swiper {
    &-pagination {
        position: relative;
        margin: 0 20px;
        bottom: 0;
    }

    &-pagination-bullet {
        height: 10px;
        width: 10px;
        box-sizing: border-box;
        background-color: transparent;
        border: 2px solid #7a7a7a;
        border-radius: 10px;
        opacity: 1;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }

        &-active {
            border-color: $yellow;
        }
    }

    &-button-disabled {
        opacity: 0.5;
        cursor: default;
    }
}

.brand-slider {
    margin-right: -15px;
    margin-left: -15px;
    padding: 30px 15px 0;
}

.brand-slide {
    position: relative;
    flex-shrink: 0;
    height: 80px;
    width: calc(100% / 6 - 20px);
    margin-right: 20px;
    overflow: hidden;
    opacity: 0.7;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease, opacity 0.3s ease;
    will-change: box-shadow, opacity;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        opacity: 1;
        box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    }

    &__logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        object-fit: cover;
    }
}

.review {
    width: calc(50% - 20px);
    background-color: white;
    height: auto!important;
    min-height: 300px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);

    &__inner {
        padding: 40px 50px;
        box-sizing: border-box;
    }

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
    }

    &__thumb {
        position: relative;
        flex-shrink: 0;
        height: 80px;
        width: 80px;
        background-color: #e8e6cd;
        border-radius: 50%;
        margin-right: 18px;

        &-img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
        }
    }

    &__author {
        font-size: 16px;
        line-height: 24px;
    }

    &__text {
        font-size: 12px;
        color: #010101;
        line-height: 18px;
    }
}
