.store-filters {
    margin-top: -5px;
    transition: opacity 0.3s ease;
    &.is-disable {
        opacity: 0.6;
        pointer-events: none;
    }
}
.store-list {
    &--flex {
        display: flex;
        flex-wrap: wrap;
        margin-right: -20px;

        .store {
            width: calc(100% / 3 - 20px);
            margin-right: 20px;
        }

        .store--small {
            width: calc(100% / 4 - 20px);
            max-width: 280px;
            min-width: 240px;
            min-height: 140px;
        }
    }

    &--bottom-indent {
        margin-bottom: 75px;
    }
}

.store-info {
    margin-bottom: 95px;

    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
    }

    &__logo {
        position: relative;
        flex-shrink: 0;
        width: 180px;
        height: 180px;
        margin-right: 20px;

        &-img {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
        }
    }

    &__contacts {
        &-item {
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 13px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.store {
    width: 100%;
    height: auto;
    max-width: 380px;
    min-height: 150px;
    background-color: white;
    margin-bottom: 20px;

    a {
        border-bottom: none;
    }

    &__inner {
        display: flex;
        box-sizing: border-box;
        padding: 20px;
    }

    &__left {
        margin-right: 20px;
    }

    &__right {
        text-align: left;
    }

    &__logo {
        display: block;
        position: relative;
        height: 60px;
        width: 60px;
        margin-bottom: 20px;

        &-img {
            position: absolute;
            top: 50%;
            left: 50%;
            max-width: 100%;
            max-height: 100%;
            transform: translate(-50%, -50%);
        }
    }

    &__section {
        display: block;
        font-size: 12px;
        font-weight: 700;
        color: $blue;
        text-align: center;
        transition: color 0.3s ease;

        &:hover {
            color: lighten($blue, 15%);
        }
    }

    &__name {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.05em;
        line-height: 16px;
        text-transform: uppercase;
        margin-bottom: 1px;
        transition: color 0.3s ease;

        a {
            border-bottom: none;
            transition: color 0.3s ease;

            &:hover {
                color: $blue;
            }
        }
    }

    &__category {
        font-size: 11px;
        line-height: 14px;
        margin-bottom: 17px;
    }

    &__contacts {
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        margin-bottom: 10px;
    }

    &__tags {
        font-size: 12px;
        color: #7a7a7a;
        line-height: 18px;

        a {
            display: inline-block;
            color: #7a7a7a;
            transition: color 0.3s ease;
            &:hover {
                color: black;
            }
        }
    }

    &__point {
        position: absolute;
        z-index: 1;
        height: 30px;
        width: 30px;
        bottom: 20px;
        right: 20px;
        background-color: $yellow;
        border-radius: 50%;
        font-size: 12px;
        font-weight: 700;
        line-height: 31px;
        color: #000000;
        text-align: center;
    }

    &__link {
        &:hover {
            .store__name {
                color: $blue;
            }
        }
    }

    &--small {
        position: relative;
        cursor: pointer;
        transition: box-shadow 0.3s ease;

        .store__name {
            margin-bottom: 4px;
        }

        .store__section {
            text-align: left;
        }

        .store__contacts {
            margin-bottom: 15px;
        }

        .store__category {
            margin-bottom: 15px;
        }

        &.is-active,
        &:hover {
            box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
        }
    }

    &--scheme {
        cursor: pointer;
        transition: box-shadow 0.3s ease;

        &:hover:not(.is-active) {
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
        }

        &.is-active {
            box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
        }
    }
}

.store-filters {
    &__category {
        position: relative;
        display: inline-block;
        font-size: 12px;
        font-weight: 500;
        color: #7a7a7a;
        margin-right: 12px;
        margin-bottom: 30px;
        transition: color 0.3s ease;

        &:after {
            content: '';
            position: absolute;
            bottom: -9px;
            left: 0;
            height: 2px;
            width: 100%;
            min-width: 25px;
            background-color: black;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover:not(.is-active) {
            cursor: pointer;
            color: black;
        }

        &.is-active {
            color: black;

            &:after {
                opacity: 1;
            }
        }
    }

    &__form {
        margin-top: 20px;
    }
}

.categories-section {
    margin: 50px 0;
}

.category-list {
    font-size: 0;
    margin-bottom: 35px;

    &__item {
        display: inline-block;
        font-size: 12px;
        font-weight: 500;
        color: #7a7a7a;
        transition: color 0.3s ease;
        margin-bottom: 13px;
        cursor: pointer;
        transition: color 0.3s ease;

        &:after {
            content: "/";
            display: inline-block;
            color: #c6c6c6;
            margin: 0 4px;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }

        &.is-active {
            color: black;
            cursor: default;
        }

        &:hover {
            color: black;
        }
    }

    &--uppercase {
        text-transform: uppercase;

        .category-list__item {
            color: black;
        }
    }

    &-title {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 15px;
        a {
            color: black;
        }
    }

    &--light {
        .category-list__item {
            color: #bdbdbd;

            &.is-active {
                color: black;
            }

            &:after {
                color: #eee;
            }
        }
    }
}
