
@font-face {
    font-family: "GothamPro";
    src: url("/fonts/GothamProRegular.eot");
    src: url("/fonts/GothamProRegular.eot?#iefix")format("embedded-opentype"), url("/fonts/GothamProRegular.woff") format("woff"), url("/fonts/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "GothamPro";
    src: url("/fonts/GothamProMedium.eot");
    src: url("/fonts/GothamProMedium.eot?#iefix")format("embedded-opentype"), url("/fonts/GothamProMedium.woff") format("woff"), url("/fonts/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "GothamPro";
    src: url("/fonts/GothamProBold.eot");
    src: url("/fonts/GothamProBold.eot?#iefix")format("embedded-opentype"), url("/fonts/GothamProBold.woff") format("woff"), url("/fonts/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "GothamPro";
    src: url("/fonts/GothamProBlack.eot");
    src: url("/fonts/GothamProBlack.eot?#iefix")format("embedded-opentype"), url("/fonts/GothamProBlack.woff") format("woff"), url("/fonts/GothamProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}
