@media screen and (max-width: 1180px) {
    .header {
        &--fixed {
            .nav__list {
                opacity: 0;
                visibility: hidden;
                box-sizing: border-box;
                padding-right: 30px;
            }

            &.is-opened {
                .nav__list {
                    opacity: 1;
                    visibility: visible;
                    transition: visibility 0.3s ease, opacity 0.3s ease;
                }

                .header__logo-hide {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }
}
@media screen and (max-width: 1050px) {
    .header {
        &__contacts {
            display: block;

            .contact-info--location {
                margin-bottom: 15px;
            }
        }

        &__left {
            width: auto;
        }
    }

    .sl-event__inner {
        padding: 30px 30px 25px;
    }

    .sl-news {
        &__info {
            width: 250px;
            padding: 30px 30px 25px 20px;
        }

        &__preview {
            width: calc(100% - 250px);
        }

        &__info-bottom .btn {
            margin-left: 15px;
        }
    }

    .sl-advert {
        &__info {
            width: 250px;
            padding: 30px 20px 25px 30px;
        }

        &__preview {
            width: calc(100% - 250px);
        }
    }

    .sl-advert-full {
        &__inner {
            display: flex;
            height: 100%;
            box-sizing: border-box;
            padding: 70px 30px 25px;
        }

        &__logo {
            width: 110px;
        }
    }

    .sl-advert-small {
        &__inner {
            padding: 100px 30px 25px;
        }
    }

    .sl-product {
        &__info {
            padding: 13px 20px 20px;
        }

        &__title {
            font-size: 14px;
            line-height: 20px;
            max-height: 80px;
        }
    }

    .service {
        width: calc(50% - 20px);
        min-width: 280px;
        margin-bottom: 20px;

        .service__descr {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .full-service {
        &__info {
            width: 250px;
            padding: 55px 30px 25px 20px;
        }

        &__preview {
            width: calc(100% - 250px);
        }

        &--right {
            .full-service__info {
                padding: 55px 20px 25px 30px;
            }
        }

        &--special {
            .full-service__info {
                padding: 40px 30px 20px;
            }
        }
    }

    .advice {
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }

    .mall {
        &__inner {
            display: block;
        }

        &__left {
            max-width: 100%;
            margin-bottom: 45px;
        }

        &__right {
            width: 100%;
            max-width: 580px;
            margin: 0 auto;
        }

        &__contacts {
            margin-bottom: 30px;
        }
    }

    .article {
        &__inner {
            display: block;
        }

        &__left {
            width: 100%;
            max-width: 100%;
            margin-bottom: 45px;
        }

        &__right {
            width: 100%;
            margin: 0 auto 30px;
        }
    }

    .footer {
        &__top {
            display: block;
        }

        &__categories {
            width: 100%;
        }

        &__contacts {
            max-width: 500px;
            display: flex;
            justify-content: space-between;
            margin: 30px auto;

            .contact-info--location {
                margin: 0 20px 0 0;
            }
        }

        &__bottom {
            display: block;

            &-left {
                width: 100%;
                max-width: 500px;
                margin: 0 auto 30px;
            }
        }

        &__nav {
            text-align: center;
            margin-bottom: 20px;
        }

        &__rights {
            text-align: center;
        }
    }

    .map-section {
        margin-top: 40px;
        &__btn {
            display: block;
            height: 70px;
            width: 155px;
            font-size: 11px;
            font-weight: 700;
            letter-spacing: 0.05em;
            line-height: 70px;
        }
    }

    .map-contacts {
        max-width: 400px;

        &__inner {
            padding: 40px;
        }
    }
}
@media screen and (max-width: 920px) {
    .header {
        &--fixed {
            nav {
                height: 30px;
                padding: 23px 0 4px;
                .wrapper {
                    visibility: hidden;
                }
            }

            &.is-opened {
                nav {
                    height: auto;
                    .wrapper {
                        visibility: visible;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 960px) {
    .map {
        height: 600px;
    }

    .map-section {
        &__wrapper {
            position: static;
            transform: none;
        }

        &__btns {
            position: absolute;
            bottom: calc(100% + 100px);
            width: 100%;
            justify-content: center;
        }

        &__contacts {}
    }

    .map-contacts {
        margin: 50px auto;
        max-width: 480px;
    }
}
@media screen and (max-width: 860px) {
    .header {
        &__inner {
            display: block;
        }

        &__contacts {
            display: flex;

            .contact-info--location {
                margin-bottom: 0;
            }
        }

        &__right {
            justify-content: space-between;
            margin: 10px 0 0;
        }
    }

    .review {
        width: 100%;
    }

    .store-list {
        &--flex {
            .store {
                width: calc(50% - 20px);
            }
        }
    }

    .important-text {
        margin: 50px 0 100px;
    }

    .subscribe {
        flex-wrap: wrap;
        width: 100%;

        &-form-wrapper {
            margin-bottom: 20px;
        }
    }

    .form-container--subscribe {
        justify-content: flex-end;
    }
}
@media screen and (max-width: 800px) {
    .swiper-wrapper {
        width: 100%;
    }

    .block-container__inner,
    .full-service,
    .services {
        margin-right: 0;
    }

    .full-service,
    .sl-advert,
    .sl-advert-full,
    .sl-event,
    .sl-news {
        width: 100%;
    }

    .brand-slide {
        width: calc(25% - 20px)!important;
    }

    .schedule {
        &__section {
            flex-wrap: wrap;
            align-items: flex-start;
            margin-right: -20px;
        }

        &__col-wrapper {
            width: 25%;
            align-items: flex-start;

            .schedule__col:ntn-child(2n) {
                flex-direction: row-reverse;
            }
        }

        &__item {
            margin-right: 20px;
        }
    }
}
@media screen and (max-width: 640px) {
    .header {
        &__contacts {
            .contact-info--location {
                margin: 0 20px 15px 0;
            }

            .contact-info__icon {
                display: block;
                margin: 0 auto 10px;
            }
        }

        &__logo {
            margin: 0 auto;
        }

        &__contacts {
            margin: 15px 0 0;
        }

        &__left {
            display: block;
        }

        .social-btn {
            width: 25px;
            height: 25px;
            margin-right: 15px;
        }
    }

    .nav {
        padding: 29px 0 6px;

        &__list {
            text-align: left;
        }

        &__item {
            width: calc(100% / 3);
            margin: 0 0 20px;
            white-space: nowrap;
        }
    }

    .advice-block__inner,
    .services {
        display: block;
    }

    .block-container {
        .advice,
        .service,
        .slide {
            margin: 0 auto 20px;
        }
    }

    .block-container--advert {
        width: 260px;
        margin: 0 auto;
    }

    .advice,
    .service {
        margin: 0 auto 20px;
    }

    .advice {
        width: 100%;
        max-width: 260px;
        height: auto;
        min-height: 330px;

        &__info {
            padding: 20px 30px;
        }
    }

    .slider-link {
        bottom: -30px;
    }

    .footer {
        &__categories {
            flex-wrap: wrap;

            &-list {
                width: calc(50% - 15px);
                max-width: calc(50% - 15px);
            }
        }

        &__nav li {
            margin-bottom: 10px;
        }

        .social-btn {
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .store-list {
        &--flex {
            margin-right: 0;
            display: block;

            .store {
                width: 100%;
                margin: 0 auto 20px;
            }
        }
    }

    .lSAction {
        & > a {
            width: 50px;
            height: 50px;
        }
    }

    .map-section {
        &__wrapper {
            width: 100%;
            box-sizing: border-box;
            padding: 0 20px;
            display: flex;
            flex-wrap: wrap;
        }

        &__btns {
            position: static;
            margin-top: 40px;
            order: 1;
            width: 100%;
            justify-content: center;
        }

        &__btn {
            &:first-child {
                margin-left: 0;
            }
        }

        &__contacts {
            width: 100%;
            order: 2;
        }
    }

    .map-contacts {
        max-width: 505px;
        margin: 40px auto;
    }

    .corp-btn {
        width: 50px;

        &--big {
            width: 140px;
        }
    }

    .form-container--subscribe {
        .input-wrapper {
            width: 100%;

            &--big {
                max-width: 100%;
                margin-bottom: 20px;
            }
        }
    }

    .sl-advert-full {
        &.sl-advert-full--bf {
            .sl-advert-full__descr,
            p,
            ul li {
                font-size: 14px;
                line-height: 22px;
            }
        }

        .sl-advert-full__title {
            max-width: 67%;
        }

        .sl-advert-full__title-big {
            font-size: 40px;
        }
    }
}
@media screen and (max-width: 480px) {
    .service {
        width: 100%;
        min-width: 100%;
        height: auto;

        &__top {
            margin-bottom: 10px;
        }
    }

    .interior {
        &__info {
            padding: 30px;
        }
    }

    .interior--special .interior {
        &__info {
            padding: 90px 30px 30px;

            &:before {
                top: 30px;
            }
        }
    }

    .brand-slide {
        width: calc(50% - 20px)!important;
    }

    .mall {
        &__contacts {
            flex-wrap: wrap;
        }

        &__contacts-block:last-child {
            width: 100%;
            margin-top: 20px;
        }
    }

    .review__inner {
        padding: 30px;
    }

    .pluses__inner {
        justify-content: space-between;
    }

    .plus {
        width: calc(50% - 20px);
        margin-bottom: 30px;

        &__icon {
            height: 70px;
            width: 70px;
        }

        &__title {
            font-size: 14px;
            line-height: 22px;
        }
    }

    .footer {
        &__contacts {
            display: block;
            width: 220px;

            .contact-info--location {
                margin: 0 0 20px;
            }
        }

        &__bottom-left {
            flex-direction: column;
            align-items: center;
        }

        &__social {
            margin: 25px 0;
        }
    }

    .article {
        &__full {
            margin-top: 40px;
        }
    }

    .media-wrapper--big {
        max-width: 980px;
        margin: 35px auto 50px;
    }

    .container-top {
        margin-bottom: 30px;
    }

    .brands__wrapper {
        padding: 30px 30px 10px;
    }

    .lSAction {
        & > a {
            width: 30px;
            height: 30px;
        }
    }

    .intr-scheme__point {
        width: 22px;
        height: 22px;
        line-height: 22px;
        font-size: 11px;
    }

    .lSSlideOuter .lSPager.lSGallery {
        padding: 0 10px 15px;
    }

    .lSSlideOuter .lSPager.lSGallery li.active,
    .lSSlideOuter .lSPager.lSGallery li:hover {
        box-shadow: 0 5px 7px 0 rgba(0,0,0,.2) !important;
    }

    .important-text {
        font-size: 28px;
        line-height: 34px;
        margin: 50px 0 70px;
    }

    .content {
        h1 {
            font-size: 30px;
            line-height: 36px;
            letter-spacing: 0.04em;
        }

        h2 {
            font-size: 24px;
            line-height: 30px;
        }
    }

    .input-wrapper {
        width: 100%;
    }

    .store-filters__category {
        margin-bottom: 20px;
    }

    .droplist {
        &__body-wrapper {
            padding: 25px 20px 10px;
        }

        &.is-opened .droplist__body {
            top: calc(100% + 20px);
        }
    }

    .map-section {
        &__btns {
            display: block;
        }

        &__btn {
            margin: 0 0 20px;
        }
    }

    .map-contacts {
        margin-top: 20px;
    }

    .contacts-add {
        display: block;

        &__col:first-child {
            margin-bottom: 20px;
        }
    }
}
@media screen and (max-width: 380px) {
    .wrapper {
        padding: 0 15px;
    }
}
