@import "fonts";

html, body, div, span, h1, h2, h3, h4, h5, address,
img, strong, i, p, center, ul, ol, li, form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, footer, header, hgroup,
menu, nav, section, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, footer, header,
hgroup, menu, nav, section {
    display: block;
}
body {
    position: relative;
    line-height: 1;
}
a {
	text-decoration: none;
	color: black;
    outline: none;
}
ul, ol {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

// Colors
$blue: #402d8d;
$yellow: #ffc907;
$bgGray: #e8e8e8;
$blackTitle: #010101;

body {
    width: 100%;
    height: 100%;
    font-size: 14px;
	font-family: 'GothamPro', sans-serif;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

@import "partials/guide";
@import "partials/main";
@import "partials/slider";
@import "partials/gallery";
@import "partials/interior";
@import "partials/advice";
@import "partials/mall";
@import "partials/content";
@import "partials/service";
@import "partials/store";
@import "partials/form";
@import "partials/contacts";
@import "partials/scheme";
@import "media";
